body {
  color: #444;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 30px;
  margin: 0px;
}

h1 {
  font-size: 24px;
  line-height: 1.2em;
  margin: 0px 0px 10px 0px;
}

.tree-branch {
  padding: 0px;
  margin: 0px;
}
.tree-node {
  list-style: none;
  line-height: 20px;
}

.tree-node .toggle-icon {
  cursor: pointer;
  display: inline-block;
  width: 10px;
  margin-right: 0px;
  font-size: 10px;
}
.tree-node .toggle-icon:hover {
  opacity: 0.8;
}
.tree-node .toggle-icon.leaf {
  visibility: hidden;
}

.tree-node .text {
  cursor: pointer;
  text-decoration: none;
}
.tree-node .text:hover {
  text-decoration: none;
}

.tree-branch li li {
  padding-left: 10px;
}